@import '../sass/main.scss';
#container {
    // @include mBackground('../images/jjfz_bg.jpg');
    background-image: url(../images/jjfz_bg.jpg);
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

h1,
h2,
h3 {
    margin: 0;
    padding: 0;
}

header {
    width: 98%;
    height: 10%;
    margin: 0 1% 0 1%;
    overflow: hidden;
    display: flex;
    align-items: center;
    h1 {
        @include mFont(2.18rem);
    }
}

main {
    width: 98%;
    height: 84%;
    margin-left: 1%;
    overflow: hidden;
    display: flex;
    justify-content: space-between;
    h2 {
        @include mFont(1rem);
        border-left: 5px solid #ffcc00;
        padding-left: 0.4rem;
    }
    .left {
        width: 70%;
        height: 100%;
        float: left;
        .topRow {
            width: 100%;
            height: 69%;
            display: flex;
            padding-top: 2%;
            .leftCol {
                width: 60%;
                height: 100%;
                display: flex;
                flex-direction: column;
                .leftTop {
                    width: 100%;
                    height: 95%;
                    .chart {
                        height: 77%;
                        width: 90%;
                        margin: 5% 3% 5% 2%;
                    }
                    .legend {
                        height: 5%;
                        width: 90%;
                        ul {
                            list-style: none;
                        }
                    }
                }
                .leftBottom {
                    width: 100%;
                    height: 5%;
                }
            }
            .rightCol {
                width: 40%;
                height: 100%;
                display: flex;
                flex-direction: column;
                h2 {
                    margin-left: 3%;
                }
                .rightTop {
                    width: 100%;
                    height: 50%;
                    >div {
                        background-image: url(./images/qqygjg.png);
                        background-repeat: no-repeat;
                        padding: 5% 5%;
                        margin-top: 4%;
                        height: 62%;
                        ul {
                            list-style: none;
                            padding: 0px;
                            margin: 0px;
                            display: flex;
                            flex-wrap: wrap;
                            li {
                                width: 33%;
                                height: 100px;
                                >div {
                                    background-image: url(./images/pepole.png);
                                    background-repeat: no-repeat;
                                    background-position: top;
                                    width: 30%;
                                    height: 100%;
                                    float: left;
                                    background-size: 60%;
                                }
                                span {
                                    color: #fff;
                                    float: left;
                                    width: 60%;
                                    &.value {
                                        @include mFont(2rem);
                                        // width: 45%;
                                    }
                                    &.name {
                                        @include mFont(0.9rem);
                                        word-wrap: break-word;
                                        white-space: normal;
                                        // width: 35%;
                                    }
                                }
                            }
                        }
                    }
                }
                .rightBottom {
                    background-image: url(./images/qycxtrfb.png);
                    background-repeat: no-repeat;
                    width: 100%;
                    height: 50%;
                    h2 {
                        margin-top: 5%;
                    }
                    >div {
                        width: 100%;
                        height: 80%;
                    }
                }
            }
        }
        .bottomRow {
            width: 100%;
            height: 27%;
            background-image: url(./images/qyzyjjzb.png);
            background-repeat: no-repeat;
        }
    }
    .right {
        width: 28%;
        height: 100%;
        float: left;
        .topRow {
            width: 100%;
            height: 50%;
            background-image: url(./images/qycxfb.png);
            background-repeat: no-repeat;
            h2 {
                margin: 25px 0px 0px 25px;
                float: left;
            }
            >div {
                width: 100%;
                float: left;
            }
            #qycxfb {
                width: 95%;
                height: 40%;
                margin: 2% 3% 0 2%;
                h3 {
                    display: none;
                }
            }
            #cngsqyyj {
                margin-top: 4%;
                height: 30%;
                ul {
                    list-style: none;
                    margin: 0px;
                    padding: 0px;
                    display: flex;
                    flex-direction: column;
                    height: 80%;
                    li {
                        height: 30%;
                        margin-left: 5%;
                        img {
                            width: 18px;
                            float: left;
                        }
                        span {
                            color: #fff;
                            display: block;
                            float: left;
                            @include mFont(0.9rem);
                        }
                        .title {
                            width: 70%;
                            padding-left: 1%;
                        }
                        .typename {
                            width: 15%;
                        }
                        .value {
                            color: #1bcbde;
                        }
                    }
                }
            }
        }
        .bottomRow {
            width: 100%;
            height: 50%;
            background-image: url(./images/qynhfb.png);
            background-repeat: no-repeat;
            h2 {
                margin: 25px 0px 0px 25px;
                float: left;
            }
            >div {
                width: 100%;
                float: left;
            }
            #qynhfb {
                width: 95%;
                height: 40%;
                margin: 2% 3% 0 2%;
            }
            #nhcbqyyj {
                margin-top: 4%;
                height: 30%;
                ul {
                    list-style: none;
                    margin: 0px;
                    padding: 0px;
                    display: flex;
                    flex-direction: column;
                    height: 80%;
                    li {
                        height: 30%;
                        margin-left: 5%;
                        img {
                            width: 18px;
                            float: left;
                        }
                        span {
                            color: #fff;
                            display: block;
                            float: left;
                            @include mFont(0.9rem);
                        }
                        .title {
                            width: 70%;
                            padding-left: 1%;
                        }
                        .typename {
                            width: 15%;
                        }
                        .value {
                            color: #1bcbde;
                        }
                    }
                }
            }
        }
    }
}

footer {
    width: 100%;
    height: 6%;
    //background: green;
    @include mBackground('../images/footer_bg.png');
    background-position: bottom left;
    display: flex;
    justify-content: center;
    ul {
        display: flex;
        align-items: flex-end;
        height: 100%;
        padding: 0;
        margin: 0;
        list-style: none;
        li {
            display: flex;
            align-items: center;
            justify-content: center;
            float: left;
            height: 86%;
            width: 5.6rem;
            margin-right: 0.5rem;
            @include mFont(1rem);
            @include mBackground('../images/normal.png');
            // background: red;
            text-align: center;
            transform: skewX(25deg);
            cursor: pointer;
            div {
                transform: skewX(-25deg);
            }
            &:hover {
                @include mBackground('../images/selected.png');
            }
            &.selected {
                @include mBackground('../images/selected.png');
            }
        }
    }
}