@import '../sass/main.scss';

.customPie{
    height: 260px;
    .pieTooltip{
        // width:120px;
        // height:60px;
        // @include mBackground('../images/pieTootip_bg.png');
        @include mFont(0.75rem);
        .orange{
            color: #ff9800;
            font-weight: bold;
        }
    }
}
