@import '../sass/main.scss';

.triangleChart{
    // border: 1px solid rgba(11,221,0, 0.2);
    .top4_name{
        fill:#9ac1e0;
        font-size: 0.75rem;
        font-family: "Microsoft Yahei";
    }
    .top4_num{
        font-size: 0.875rem;
        font-family: "Microsoft Yahei";
    }
}