@import '../sass/main.scss';
#container {
    background-image: url('../images/jjfz_bg.jpg');
    background-size: 100% 100%;
    background-repeat: no-repeat;
    min-height: 768px;
    min-width: 1366px;
    height: 100%;
}

h1,
h2,
h3 {
    margin: 0;
    padding: 0;
}

header {
    width: 98%;
    height: 10%;
    margin: 0 1% 1% 1%;
    overflow: hidden;
    display: flex;
    align-items: center;
    //background: red;
    .logo {
        height: 75%;
        margin-right: 1rem;
    }
    h1 {
        @include mFont(2.18rem);
    }
}

main {
    width: 98%;
    height: 82%;
    margin-left: 1%;
    overflow: hidden;
    display: flex;
    justify-content: space-between;
    h2 {
        @include mFont(1rem);
        border-left: 5px solid #ffcc00;
        padding-left: 0.4rem;
    }
    h3.componentTitle {
        @include mFont(0.875rem);
        padding-top: 0.75rem;
        padding-left: 0.5rem;
    }
    .left {
        width: 70%;
        height: 100%;
        float: left;
        //background: gray;
        .topRow {
            width: 100%;
            height: 69%;
            //background: green;
            .leftCol {
                width: 33%;
                height: 100%;
                float: left;
                @include mBackground('../images/gongyechanzhi_bg.png');
                background-position: 20% 13%;
                // background: rgba(255, 255, 255, 0.2);
            }
            .rightCol {
                float: left;
                padding-left: 3%;
                width: 64%;
                height: 100%;
                // background: rgba(55, 255, 255, 0.2);
                #lineChart {
                    height: 94%;
                }
            }
        }
        .bottomRow {
            width: 100%;
            height: 27%;
            //background: blue;
            #bottomCharts {
                margin-top: 1rem;
                @include mBackground('../images/bottomzhibiao_bg.png');
                background-position: 0 0;
                height: 90%;
            }
        }
    }
    .right {
        width: 28%;
        height: 100%;
        float: left;
        //background: blue;
        .topRow {
            width: 100%;
            height: 73%;
            //background: green;
            #tradeDistribution {
                @include mBackground('../images/gongyezengjiazhi_bg.png');
            }
            #increaseTop4 {
                @include mBackground('../images/ltgongyezengjiazhi_bg.png');
                background-position: top left;
            }
        }
        .bottomRow {
            width: 100%;
            height: 26%;
            @include mBackground('../images/nashuilongtou_bg.png');
            background-position: top left;
        }
    }
}

footer {
    width: 100%;
    height: 6%;
    //background: green;
    @include mBackground('../images/footer_bg.png');
    background-position: bottom left;
    display: flex;
    justify-content: center;
    ul {
        display: flex;
        align-items: flex-end;
        height: 100%;
        padding: 0;
        margin: 0;
        list-style: none;
        li {
            display: flex;
            align-items: center;
            justify-content: center;
            float: left;
            height: 86%;
            width: 5.6rem;
            margin-right: 0.5rem;
            @include mFont(1rem);
            @include mBackground('../images/normal.png');
            // background: red;
            text-align: center;
            transform: skewX(25deg);
            cursor: pointer;
            div {
                transform: skewX(-25deg);
            }
            &:hover {
                @include mBackground('../images/selected.png');
            }
            &.selected {
                @include mBackground('../images/selected.png');
            }
        }
    }
}

#tradeDistribution {
    margin-top: 1rem;
    width: 100%;
    @mixin mGradualBarBg($startColor,
    $stopColor) {
        background-image: -webkit-linear-gradient(left, $startColor, $stopColor);
        /* For Chrome 25 and Safari 6, iOS 6.1, Android 4.3 */
        background-image: -moz-linear-gradient(left, $startColor, $stopColor);
        /* For Firefox (3.6 to 15) */
        background-image: -o-linear-gradient(left, $startColor, $stopColor);
        /* For old Opera (11.1 to 12.0) */
        background-image: linear-gradient(to right, $startColor, $stopColor);
        /* Standard syntax; must be last */
    }
    ul {
        list-style: none;
        padding: 0;
        margin: 1rem 0.5rem;
        li {
            height: 2.5rem;
            display: flex;
            justify-content: space-between;
            align-items: center;
            span {
                display: flex;
                width: 1.3rem;
                height: 1.3rem;
                border-radius: 0.65rem;
                justify-content: center;
                align-items: center;
                background-color: #00ffff;
                @include mFont(0.875rem,
                #000);
                float: left;
            }
            .leftPart {
                overflow: hidden;
                width: 80%;
                float: left;
                div {
                    float: left;
                }
                .percetage {
                    @include mFont(1rem,
                    #08c1cc);
                    margin-top: 0.5rem;
                }
                .chart {
                    margin: 0 0.4rem;
                    width: 75%;
                    .tradeName {
                        @include mFont(0.75rem,
                        #9ac1e0);
                    }
                    .bar {
                        height: 0.5rem;
                        width: 100%;
                        margin-top: 0.2rem;
                        background-color: rgba($color: #00ffff, $alpha: 0.14);
                        .innerBar {
                            height: 100%;
                            width: 80%;
                            border-top-right-radius: 0.3rem;
                            border-bottom-right-radius: 0.3rem;
                            @include mGradualBarBg(rgba(0, 255, 255, 0),
                            rgba(0, 255, 255, 1));
                        }
                    }
                }
            }
            .value {
                @include mFont(1rem,
                #9ac1e0);
                margin-top: 0.5rem;
            }
        }
    }
}